[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sphinx = "*"
beeprint = "*"
black = "*"
bumpversion = "*"
colorama = "*"
cookiecutter = "*"
dotfiles = "*"
ipython = "*"
libtmux = "*"
pdbpp = "*"
pipdeptree = "*"
pipenv = "*"
poetry = "*"
powerline-status = "*"
pycodestyle = "*"
tmuxp = "*"
twine = "*"
virtualenvwrapper = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.7"
