[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beeprint = "*"
bumpversion = "*"
colorama = "*"
cookiecutter = "*"
dotfiles = "*"
ipython = "*"
libtmux = "*"
pdbpp = "*"
powerline-status = "*"
pycodestyle = "*"
tmuxp = "*"
twine = "*"
virtualenvwrapper = "*"
watchdog = "*"
Sphinx = "*"

[dev-packages]

[requires]
python_version = "3.6"
